{% extends 'base_templates/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    
    {%block greeting%}{%include 'main_templates/components/greeting.html'%}{%endblock greeting%}

    <div class="extra-container">
        
        {%block ipad%}{%include 'main_templates/components/ipad.html'%}{%endblock ipad%}
        {%block iphone%}{%include 'main_templates/components/iphone.html'%}{%endblock iphone%}

    </div>

    {%block more%}{%include 'main_templates/components/more.html'%}{%endblock more%}
    {%block email%}{%include 'main_templates/components/email.html'%}{%endblock email%}

</div>



{% endblock %}