{% load static %}
{% load i18n %}

<div class="cards-intro" id="cards">
    <div class="cards-intro__title">
        <h2>{% trans '4 fun facts about me' %}</h2>
    </div>
    <div class="cards-intro__overview">
        <h3>{% trans 'One of them is a lie' %}</h3>
    </div>
</div>

<div class="cards">
    <div class="cards__flipped">

    </div>
    <div class="cards__container">
        
        <div class="cards__container__left">

            <div class="cards__container__left__circle">
                <img src="{%static 'images/emojis/emoji_liar.png'%}" alt="{% trans 'An emoji representing a lying face'%}">
            </div>

        </div>
        <div class="cards__container__center" data-module="Cards">

            {% for card in cards %}

            <div class="cards__container__center__card" data-question="true">

                <div class="cards__container__center__card__front cards__container__center__card__part">

                    <div class="cards__container__center__card__part__number">
                        0{{forloop.counter}}
                    </div>
                    <div class="cards__container__center__card__part__text">
                        {{card.overview|safe}}
                    </div>

                </div>

                {% if card.status%}
                <div class="cards__container__center__card__back  cards__container__center__card__part">
                    <img src="{% static 'images/emojis/emoji_smile.png'%}" alt="{% trans 'An emoji representing a smiling face'%}">
                </div>
                {%else%}
                <div class="cards__container__center__card__back  cards__container__center__card__part">
                    <img src="{% static 'images/emojis/emoji_liar.png'%}" alt="{% trans 'An emoji representing a lying face'%}">
                </div>
                {%endif%}

            </div>

            {% endfor %}

        </div>

        <div class="cards__container__right">

            <div class="cards__container__left__circle">
                <img src="{%static 'images/emojis/emoji_smile.png'%}" alt="{% trans 'An emoji representing a smiling face' %}">
            </div>

        </div>
    </div>
</div>

<div class="cards-outro">
    <div class="cards-outro__show-all">
        <span>{% trans 'Just show all!' %}&nbsp; &#128640;</span>
    </div>
</div>



