{% load static %}
{% load i18n %}

{% with path=request.path %}
{% with home1='/en/' %}
{% with home2='/fr/' %}
{% with about1='/about/' %}
{% with about2='/a-propos/' %}
{% with lectures1='/lectures/' %}
{% with lectures2='/cours/' %}
{% with experiments='/experiments/' %}

<div class="greeting" data-module="MagneticEffect">

    <div class="greeting__box-left">
        <div class="greeting__box-left-title">
            <h1>{{introduction.title|safe}}</h1>
        </div>
        
        {% if path == home1 or path == home2 or about in path%}
        <div class="greeting__box-left-overview">
        {%else%}
        <div class="greeting__box-left-overview clearer-font">
        {%endif%}
            
            {{introduction.overview|safe}}

        </div>

        {%if about1 in path or about2 in path%}
        <div class="greeting__box-left-sub-overview">
            
            {{introduction.sub_overview|safe}}

        </div>
        {%endif%}

        <div class="greeting__interactions" data-module="SmoothScroll">
            
            {%if about1 in path or about2 in path%}
            <div class="greeting__interaction-left simplify">
            {%else%}
            <div class="greeting__interaction-left" data-seo-container>
            {%endif%}
            
                {%if path == home1 or path == home2%}
                <a href="{% url 'aboutpage'%}" data-seo-target>{% trans 'Say Hi' %}</a>

                <img class="icon small_icon" src="{%static 'images/emojis/emoji_hello.png'%}" alt="{% trans 'An emoji of a hand waving' %}">
                
                {%else%}

                {%if about1 in path or about2 in path%}
                <a href="#cards">{% trans 'Learn more' %}</a>
                {%elif lectures1 in path or lectures2 in path%}
                <a href="#lectures">{% trans 'Learn more' %}</a>
                {%else%}
                <a href="#experiments">{% trans 'Learn more' %}</a>
                {%endif%}

                <svg class="icon" aria-hidden="true" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'icons/sprite.svg'%}#icon-arrow-bottom"></use>
                </svg>

                {%endif%}
            </div>

            {% if path == home1 or path == home2%}
            <div class="greeting__interaction-right">
                
                <a href="#ipad">{% trans 'Discover my work' %}</a>
                <svg class="icon" aria-hidden="true" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'icons/sprite.svg'%}#icon-arrow-bottom"></use>
                </svg>

            </div>
            {%endif%}

        </div>
    </div>

    <div class="greeting__box-right">

        <div class="greeting__box-right-circle">
            {%if path == home1 or path == home2%}
            <img src="{%static 'images/emojis/emoji_palette.png'%}" alt="{% trans 'An emoji of a painting palette' %}">
            {%elif about1 in path or about2 in path%}
            <img  src="{%static 'images/emojis/emoji_working.png'%}" alt="{% trans 'An emoji of a man working on a computer' %}">
            {%elif lectures1 in path or lectures2 in path%}
            <img  src="{%static 'images/emojis/emoji_bulb.png'%}" alt="{% trans 'An emoji of a light bulb' %}">
            {%else%}
            <img src="{%static 'images/emojis/emoji_painter.png'%}" alt="A{% trans 'An emoji of a painter' %}">
            {%endif%}
        </div>
    </div>

</div>

{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}