{% load static %}
{% load i18n %}

<div class="ipad" id="ipad" data-seo-container>
    <div class="ipad__text-container">
        <div class="ipad__tags-container">
            {%for tag in ipad.role%}
            <div class="ipad__tags-container-tag">
                {{tag}}
            </div>
            {%endfor%}
        </div>

        <div class="ipad__title">
            <h2>{{ipad.title | safe }}</h2>
        </div>

        <div class="ipad__overview">
            <p>{{ipad.overview | safe | truncatechars:250}}</p>
        </div>

        <div class="ipad__discover">
                <a href="{%url 'project' ipad.slug%}" data-seo-target>{% trans 'Tell me more' %}</a>
            <svg class="icon" aria-hidden="true" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'icons/sprite.svg'%}#icon-arrow-right"></use>
            </svg>
        </div>
    </div>

    <div class="ipad__ipad">
        <picture class="white">
            <source media="(max-width: 480px)" srcset="{%static 'images/devices/white/white_iphone.png'%}">
            <img src="{%static 'images/devices/white/white_ipad.png'%}" alt="{% trans 'An image of an ipad' %}">
        </picture>
        <picture class="black">
            <source media="(max-width: 480px)" srcset="{%static 'images/devices/black/black_iphone.png'%}">
            <img src="{%static 'images/devices/black/black_ipad.png'%}" alt="{% trans 'An image of an ipad' %}">
        </picture>
    </div>

</div>

