{% load static %}
{% load i18n %}

{% for iphone in iphones %}
{%if forloop.counter == 2%}
<div class="iphone reversed" data-seo-container>
{%else%}
<div class="iphone" data-seo-container>
{%endif%}

{%if forloop.counter == 2 %}
    <div class="iphone__image-box first">
        <div class="original">
            <img class="white" src="{%static 'images/devices/white/white_iphone.png'%}" alt="{% trans 'An image of an iphone'%}">
            <img class="black" src="{%static 'images/devices/black/black_iphone.png'%}" alt="{% trans 'An image of an iphone'%}">
            <div class="new">
                <img class="test" src="{{iphone.iphone_image.url}}" alt="{% trans 'A picture of the post topic website' %}">
            </div>
        </div>
    </div>
    {%endif%}

    <div class="iphone__text-container">


        <div class="iphone__text-box">

            <div class="iphone__title">
                <h2>{{iphone.title | safe}}</h2>
            </div>

            <div class="iphone__tags-container">
                {%for tag in iphone.roles%}
                <div class="iphone__tags-container-tag">
                    {{tag}}
                </div>
                {%endfor%}
            </div>

            <div class="iphone__overview">
                {{iphone.overview | safe | truncatechars:150}}
            </div>

            <div class="iphone__discover">
                <a href="{%url 'project' iphone.slug%}" data-seo-target>{% trans 'Tell me more' %}</a>
                <svg class="icon" aria-hidden="true" focusable="false">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{% static 'icons/sprite.svg'%}#icon-arrow-right"></use>
                </svg>
            </div>

        </div>

    </div>

    {%if forloop.counter == 1%}
        <div class="iphone__image-box second">
            <div class="original">
                <img class="white" src="{%static 'images/devices/white/white_iphone.png'%}" alt="{% trans 'An image of an iphone'%}">
                <img class="black" src="{%static 'images/devices/black/black_iphone.png'%}" alt="{% trans 'An image of an iphone'%}">
                <div class="new">
                    <img class="test" src="{{iphone.iphone_image.url}}" alt="{% trans 'A picture of the post topic website' %}">
                </div>
            </div>
        </div>
    {%endif%}

</div>

{%endfor%}
