{% load static %}

{% with path=request.path%}
{% with lectures='/lectures/'%}


<div class="more">

    {% if path == '/'%}
    <div class="more__title">
        <h2>More Projects.</h2>
    </div>
    {% endif%}

    <div class="more__container">
        
        {%for i in "12"|make_list%}
        <div class="more__container-box">


            <div class="more__container-box__image-box">
                {%if lectures in path%}
                <img src="{%static 'images/emojis/emoji_pen.png'%}" alt="An emoji representing a pen">
                {%else%}
                <img src="{%static 'images/emojis/emoji_tent.png'%}" alt="An emoji representing a tent">
                {%endif%}
            </div>

            <div class="more__container-box__title">
                <h3>{%lorem 4 w%}</h3>
            </div>

            <div class="more__container-box__overview">
                <h3>{%lorem 20 w%}</h3>
            </div>

            <div class="more__container-box__tag-box">
                {%for i in "123"|make_list%}
                <div class="more__container-box__tag-box__tag">
                    <p>lorem</p>
                </div>
                {%endfor%}
            </div>

        </div>
        {%endfor%}

    </div>
</div>
{%endwith%}
{%endwith%}


