{% load static %}
{% load i18n %}

{% with path=request.path%}
{% with lectures1='/lectures/'%}
{% with lectures2='/cours/'%}
{% with experiments1='/experiments/'%}
{% with experiments2='/prototypes/'%}


{%if lectures1 in path or lectures2 in path%}
<div id="lectures" class="more">
{%elif experiments1 in path or experiments2 in path%}
<div id="experiments" class="more">
{%else%}
<div class="more">
{%endif%}

    {% if path == '/en/' or path == '/fr/'%}
    <div class="more__title">
        <h2>{% trans 'More Projects.'%}</h2>
    </div>
    {% endif%}

    <div class="more__container">
        
        {%for object in more%}
        <div class="more__container-box" data-seo-container>


            <div class="more__container-box__image-box">
                {%if lectures1 in path or lecture2 in path%}
                <img src="{%static 'images/emojis/emoji_pen.png'%}" alt="{% trans 'An emoji representing a pen' %}">
                {%else%}
                <img src="{%static 'images/emojis/emoji_tent.png'%}" alt="{% trans 'An emoji representing a tent' %}">
                {%endif%}
            </div>

            <div class="more__container-box__title">
                {%if lectures1 in path or lectures2 in path%}
                <h3><a href="{%url 'post' object.slug%}" data-seo-target>{{object.title|safe}}</a></h3>
                {%elif experiments1 in path or experiments2 in path%}
                <h3><a href="{{object.url}}" target="_blank" data-seo-target>{{object.title|safe}}</a></h3>
                {%else%}
                <h3><a href="{%url 'project' object.slug%}" data-seo-target>{{object.title|safe}}</a></h3>
                {%endif%}
            </div>

            <div class="more__container-box__overview">
                {%if experiments1 in path or experiments2 in path%}
                {{object.overview|safe}}
                {%else%}
                {{object.overview|safe|truncatechars:250}}
                {%endif%}
            </div>

            <div class="more__container-box__tag-box">
                {%for tag in object.role%}
                <div class="more__container-box__tag-box__tag">
                    {{tag}}
                </div>
                {%endfor%}
            </div>

        </div>
        {%endfor%}

    </div>
</div>

{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}
{%endwith%}


