.footer {
    display: flex;

    margin: auto;
    width: rem(1136px);
    max-width: calc(100% - 40px);
    min-height: rem(112px);
}

.navigation {
    &__copyright {
        @include mq(md) {
            width: 25%;
        }

        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: rem(-1px);
    }

    &__back-up {
        @include mq(md) {
            width: 25%;
        }

        display: flex;
        margin-left: auto;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: rem(-1px);
        cursor: pointer;

        svg {
            transform: rotate(-90deg);
        }
    }
}