.iphone {
    @include mq(sm) {
        justify-content: center;
        flex-direction: row;
        gap: rem(25px);
    }

    display: flex;
    flex-direction: column;
    margin-top: rem(98px);

    &__text-container {
        @include mq(sm) {
            width: 50%;
            margin-bottom: 0;
            justify-content: flex-end;
        }

        display: flex;
        margin-bottom: rem(30px);
    }

    &__text-box {
        @include mq(sm) {
            max-width: rem(417px);
            margin: 0 auto;
        }

        @include justifyCenterCol;
        text-align: center;
    }

    &__title {
        @include title;
        margin: 0 0 rem(22px) 0;
    }

    &__tags-container {
        display: flex;
        justify-content: flex-start;

        &-tag {
            @include tag;
            margin-bottom: rem(10px);
        }
    }

    &__overview {
        @include overview;
        margin-top: rem(10px);
    }

    &__discover {
        margin-top: rem($base-font-size);
        padding: rem(13px) 0;
        cursor: pointer;

        a {
            color: setColor(black);
        }

        &:hover svg {
            transform: translate(20px);
        }

        svg {
            margin-left: rem(5px);
            transition: all .5s ease-in-out;
        }

    }

    &__image-box {
        @include justifyCenterCol;

        @include mq(sm) {
            width: 50%;
        }

        img {
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0));
        }
    }
}