.project {
    background-color: setColor(gray, project-bg);
}

.project__container {

    @include mq(lg) {
        padding-top: 0;
    }

    @include mq(md) {
        flex-direction: row;
    }

    display: flex;
    flex-direction: column;
    gap: rem(15px);

    width: rem(1136px);
    max-width: calc(100% - 40px);

    padding-top: rem(50px);
    margin-inline: auto;

    &__left {
        @include mq(md) {
            width: 50%;
        }

        @include justifyCenterCol;
        align-items: flex-start;

        &__title {
            @include title;

            a {
                color: setColor(black);
            }

        }

        &__sub-title {
            @include overview;
            margin-top: rem(24px);
        }
    }

    &__right {
        @include mq(md) {
            width: 50%;
        }

        @include justifyCenterCol;

        img {
            mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0.2) 85%, rgba(0, 0, 0, 0));
        }
    }
}