{% load static%}
{% load i18n %}

<div class="lecture">
    <div class="lecture__tags-box">
        {% for tag in current.role%}
        <div class="lecture__tags-box__tag">
            <span>{{tag}}</span>
        </div>
        {% endfor%}
    </div>

    <div class="lecture__title">
        <h1>{{current.title | safe}}</h1>
    </div>

    <div class="lecture__date">
        <div>{{current.date|date:"F j Y"}} <span class="lecture__date__dot"></span> {{current.length}} minutes read
        </div>
    </div>

    <div class="lecture__illustration image-parent">
        <img class='emoji' src="{%static 'images/emojis/emoji_pen.png'%}" alt="{% trans 'An emoji representing a pen' %}">
        <img class='image' src="{{current.image.url}}" alt="{% trans 'An illustration of the article' %}">
    </div>

    <div class="lecture__text">
        {{current.overview|safe}}
    </div>

</div>