{% load i18n %}
{% load static %}
<div class="languages">
    <form name="ui" action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <input name="language" type="hidden" />
        {% get_current_language as LANGUAGE_CODE %}
        {% get_language_info for LANGUAGE_CODE as lang %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <a href="#" onclick="document.ui.language.value='{{ language.code}}'; document.ui.submit();">
            <svg class="icon" aria-hidden="true" focusable="false">
                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                    xlink:href="{% static 'icons/sprite.svg'%}#icon-{{language.code}}">
                </use>
            </svg>
        </a>
        {% endfor %}
    </form>
</div>