{% load static%}

<div class="goal" data-module="MagneticEffect">
    <div class="goal__left">
        <div class="goal__left__title">
            <h2>Goal</h2>
        </div>
        <div class="goal__left__overview">
            {%lorem 15 w%}
        </div>
        <div class="goal__left__description">
            {%lorem 20 w%}
        </div>
    </div>

    <div class="greeting__box-right">

        <div class="greeting__box-right-circle">
            <div class="create">
                <img src="{%static 'images/emojis/emoji_target.png'%}" alt="An emoji of a target">                
            </div>

        </div>
    </div>
</div>