{% load static %}
{% load i18n %}

<div class="ideation">

    <div class="ideation__title">
        <h2>{% trans 'More snippets' %}</h2>
    </div>
    <div class="ideation__overview">
        <p>{% trans 'Here are some extra samples of the project for you to get a closer look at. Enjoy!' %}</p>
    </div>

    <div class="ideation__image-container">
        <div class="glide" data-module="Carousel">
            <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                    {% for image in more_images%}
                    <li class="glide__slide"> 
                        <div class="original">
                            <img class="white" src="{%static 'images/devices/white/white_iphone.png'%}" alt="{% trans 'An image of an iphone'%}">
                            <img class="black" src="{%static 'images/devices/black/black_iphone.png'%}" alt="{% trans 'An image of an iphone'%}">
                            <div class="new">
                                <img src="{{image}}" alt="{% trans 'An illustration of the project'%}">
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div> 
    </div>

</div>