{% load static %}
{% load i18n %}

<div class="insights">
    <div class="insights__presentation">
        <div class="insights__title">
            <h2>{% trans 'Insights' %}</h2>
        </div>
        <div class="insights__overview">
            {% trans 'Here are some of the things I learned thanks to this project.' %} 
        </div>
    </div>

    <div class="insights__table">
        <div class="insights__table__left">
            <img src="{% static 'images/emojis/emoji_face.png' %}" alt="An emoji of a face">
        </div>

        <div class="insights__table__right">
            {% for point in current.points %}
            <div class="insights__table__right__point">
                <div class="insights__table__right__point__title">
                    <span>Point {{forloop.counter}}</span>
                    <p>{{point}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>