{% load static%}
{% load i18n %}

<div class="project" data-seo-container>
    <div class="project__container">
        <div class="project__container__left">
            <div class="project__container__left__title">
                <h1><a href="{{current.url}}" data-seo-target>{{current.title|safe}}</a></h1>
            </div>
            <div class="project__container__left__sub-title">
                <h2>{{current.sub_title|safe}}</h2>
            </div>
        </div>
    
        <div class="project__container__right">
            <img class="white" src="{%static 'images/devices/white/white_iphone.png'%}" alt="{% trans 'An image of an iphone' %}">
            <img class="black" src="{%static 'images/devices/black/black_iphone.png'%}" alt="{% trans 'An image of an iphone' %}">
        </div>
    </div>
</div>

