.navigation__hamburger-content {
    @include mq(md) {
        display: none;
    }

    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: -300px;
    width: 0;
    z-index: 5;

    height: 100vh;
    padding-top: rem(40px);

    background-color: setColor(gray, light);
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

    &__languages {

        display: flex;
        flex-direction: column;
        position: absolute;

        top: rem(10px);
        left: rem(10px);
    }

    &__links {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        li {
            @include overview;
            margin: 0;
            padding: rem(25px);
            border-bottom: rem(1px) solid setColor(gray, dark_font);

            a {
                color: setColor(gray, dark_font);
                position: relative;

                &::after {
                    content: '\25CF';
                    position: absolute;
                    display: flex;
                    width: 100%;
                    top: rem(3px);
                    left: rem(150px);
                    font-size: rem($base-font-size);
                    visibility: hidden;
                }
            }
        }
    }

    &__title {
        @include title;
        @include justifyCenterCol;
        margin-top: 0;
        padding-bottom: rem(25px);
        width: 100%;
    }
}

.open {
    @include mq(sm) {
        width: 50vw;
    }

    left: 0;
    width: 75vw;
}

.navigation__hamburger svg {
    height: 80px;
    position: absolute;
    width: 80px;
}

.plate {
    height: 80px;
    width: 80px;
    margin-right: -22px;
}

.burger {
    filter: url(#gooeyness);
}

.x {
    transform: scale(0);
    transition: transform 400ms;
}

.line {
    fill: none;
    stroke: setColor(black);
    stroke-width: 6px;
    stroke-linecap: round;
    stroke-linejoin: round;
    transform-origin: 50%;
    transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;
}

.x .line {
    stroke-width: 5.5px;
}

.plate1 .line2 {
    stroke-dasharray: 40 200;
    stroke-dashoffset: 0px;
}

.plate1 .line3 {
    stroke-dasharray: 40 179;
    stroke-dashoffset: 0px;
}

.active .line {
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
}

.active.plate1 .line1 {
    transform: scale(0, 1);
    transition: transform 500ms 100ms;
}

.active.plate1 .line2 {
    stroke-dasharray: 5px 200;
    stroke-dashoffset: -164px;
}

.active.plate1 .line3 {
    stroke-dasharray: 5px 179;
    stroke-dashoffset: -142px;
}

.active .x {
    transform: scale(1);
    transition: transform 400ms 350ms;
}