.icon {
  display: inline-block;
  width: rem(20px);
  height: rem(20px);
  vertical-align: middle;
  fill: currentColor;
}

.small_icon {
  width: rem($base-font-size);
  height: rem($base-font-size);
  margin-left: rem(10px);
  margin-bottom: rem(4px);
}
